.login-page{
  width: 400px;
  border: 1px solid rgba(128, 128, 128, 0.245);
  padding: 2rem;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.331);
  margin:auto;
  box-shadow: -5px 5px 15px 10px rgba(255, 255, 255, 0.173);
}



.layout{
  background: rgba(212, 205, 225, 0.778);
  min-height: 100vh;
}

.form{
  background: white;
  border-radius: 5px;
  padding: 1rem;
  min-height: 100px;
  box-shadow: -5px 5px 5px 10px  rgba(128, 128, 128, 0.185);
 
}


.table{
  background: rgb(195, 179, 179);
  border-radius: 7px;
  margin-top:5px;
  padding: 1rem;
  min-height: 100px;
  box-shadow: -5px 5px 5px 10px  rgba(128, 128, 128, 0.185);

}





















  